.App {
  display: flex;
  background-color: #F2F2F2;
  position: relative;
  height: 100vh;
}


.Moose {
  position: absolute;
  top: 42%;
  left: 44%;
}

.Moose img {
  
    width: 200px;

}
  
.App .scoreboard {
  position: absolute;
  right: 200px;
  top: 50px;
  font-size: 40pt;
  font-family: Monotype Corsiva;
  
  
}

.menu {
  display: flex;
  flex-direction: column;
  
  
  
}

.upgradeDark {
  
  width: 350px;
  height: 100vh;
  text-align: center;
  border: 2px double #E2E5E5;  
  /* font-family: Impact; */
  /* font-size: 20pt; */
  background-color: #959090;
  display: flex;
  flex-direction: column;
  
}

.upgradeLight {
  
  width: 350px;
  height: 100vh;
  text-align: center;
  border: 2px double #E2E5E5;  
  /* font-family: Impact; */
  /* font-size: 20pt; */
  background-color: #E3ECEC;
  display: flex;
  flex-direction: column;
  
}

.upgrade-text {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}


progress {
  -webkit-appearance: none;
  width: 350px;
  height: 20px;
  margin-left: 0px;
}



::-webkit-progress-bar {
  background-color: #F6F9FA;
}

